In [2]:
import numpy as np
import pandas as pd
from numpy.random import randint

In [5]:
np.random.seed(321)

companies = ['Jolly Good Toys Ltd',
            'Pristine Machines Inc.',
            'Piggy Bank Corporation',
            'Cars & Gears Foundation']

sales = ["Europe", "North_America", "South_America", "Asia", "Africa", "Other"]

# generate the "random" sales numbers with the locked seed
numbers = randint(99999, size=(4, 6))

df = pd.DataFrame(numbers, companies, sales)

In [6]:
df

,Europe,North_America,South_America,Asia,Africa,Other
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537
Pristine Machines Inc.,24744,69018,99288,14068,90469,94536
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335

In [8]:
def sales_category(row):
    total_sales = row['Europe'] + row['North_America'] + row['South_America'] + row['Asia'] + row['Africa'] + row['Other']

    if total_sales < 200000:
        return "Small"
    elif 200000 < total_sales < 300000:
        return "Medium"
    else:
        return "Large"

In [9]:
df['Company_Size'] = df.apply(sales_category, axis=1)

In [10]:
df

,Europe,North_America,South_America,Asia,Africa,Other,Company_Size
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537,Large
Pristine Machines Inc.,24744,69018,99288,14068,90469,94536,Large
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389,Large
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335,Large